* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: lighter;
}

body {
  background-color: rgba(0, 0, 0, 0.8);
}

header {
  padding: 0.7rem 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}


footer {
  color: whitesmoke;
  padding: 1rem;
  text-align: right;
}

.home main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
  color: white;
  padding: 1.5rem;
  justify-content: space-between;
}

.home h1 {
  text-shadow: 1px 1px black;
}

.home main h1, h4, h3, nav, .location {
  z-index: 4;
  text-transform: capitalize;
}

.home main nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.home main nav a {
  padding: 0.8rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.home > h2 {
  color: rgba(0, 0, 0, 0.8);
  margin: auto;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 0 0;
  color: rgba(225, 225, 225, 0.6);
  text-transform: capitalize;
  width: 90%;
}

.home main h3 {
  width: 70%;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.6);
}

.home main .location {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.home .highlights {
  padding: 1.5rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.home .highlights section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: center;
  text-align: center;
  background-color: rgba(225, 255, 255, 0.3);
  padding: 2rem 1rem;
  border-radius: 15px;
  text-transform: capitalize;
}

.home .highlights section h3 {
  padding: 0 2rem;
}

.home .highlights span {
  font-size: 2rem;
  color: white;
  align-self: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.home .notification section {
  height: 40vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
  color: white;
  padding: 1.5rem;
  justify-content: space-around;
}

.home .notification {
  padding: 1rem;
}

.notification h2, h4, a {
  z-index: 10;
  text-transform: capitalize;
}

.notification h4 {
  width: 50%;
}

.notification a {
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  color: navy;
}